<?xml version="1.0" encoding="utf-8"?>
<config>	
	<dabatases>
		<database>
			<source server-name="ComputerName\Server1" database-name="DB1" />
			<target server-name="ComputerName\Server2" database-name="DB2" />
		</database>
		<database>
			<source server-name="ComputerName\Server1" database-name="DB1" />
			<target server-name="ComputerName\Server2" />
		</database>
		<database>
			<source server-name="ComputerName\Server1" database-name="DB1" />
			<target database-name="DB2" />
		</database>		
		<database>
			<source server-name="ComputerName\Server1" database-name="DB1" />			
		</database>	
	</dabatases>
</config>